<app-job-form></app-job-form>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Address</th>
      <th scope="col">Supplier</th>
      <th scope="col">Job Type</th>
      <th scope="col">Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let job of jobService.jobs"
    (click)="onSelect(job)"
    [class.selected]="job === selectedJob">
      <th scope="row">
        <div>
            <span
            *ngIf="job !== selectedJob">{{ job.property_address }}</span>

            <div class="form-group"
            (click)="$event.stopPropagation()"
            *ngIf="job === selectedJob">
              <select class="form-control"
              [(ngModel)]="job.property_address">
                <option *ngFor="let property of jobService.properties">{{ property.address }}</option>
              </select>
            </div>
        </div>
      </th>

      <td>
        <div>
            <span
            *ngIf="job !== selectedJob">{{ job.supplier_title }}</span>

            <div class="form-group"
            (click)="$event.stopPropagation()"
            *ngIf="job === selectedJob">
              <select class="form-control"
              [(ngModel)]="job.supplier_title">
                <option *ngFor="let supplier of jobService.suppliers">{{ supplier.title }}</option>
              </select>
            </div>
        </div>
      </td>

      <td>
        <div>
            <span
            *ngIf="job !== selectedJob">{{ job.job_type }}</span>

            <div class="form-group"
            (click)="$event.stopPropagation()"
            *ngIf="job === selectedJob">
              <select class="form-control"
              [(ngModel)]="job.job_type">
                <option *ngFor="let jobType of jobService.jobTypes">{{ jobType.title }}</option>
              </select>
            </div>
        </div>
      </td>

      <td>
        <div>
            <span style="white-space: pre-line;"
            *ngIf="job !== selectedJob">{{ job.notes }}</span>

            <div class="form-group"
            (click)="$event.stopPropagation()"
            *ngIf="job === selectedJob">
                <textarea class="form-control"
                [(ngModel)]="job.notes"
                ></textarea>
            </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
